.wrapper {
  background-color: white;
  margin-top: 70px;
  height: fit-content;
  padding: 40px;
  border-radius: 20px;
  width: 427px;
  height: 541px;
}

.form { 
  width: 100%;
}

.buttonBlock {
  margin: 24px 0;
}