
@import '../../../styles/variables.scss';

.wrapper {
  padding: 26px 40px;

  @media (max-width: $sm) {
    padding: 40px 0px 0px;
    display: flex;
    justify-content: center;
  }
}

.dashboardWrap {
  width: 100;
  position: relative;
  padding-top: 16px;
  
  .tenancy {
    display: flex;
    gap: 16px;

    .item {
      width: 212px; 
      height: 44px; 
      border-radius: 8px; 
      border: 1px solid gray;
      display: flex;
      justify-content: center;
      align-items: center;    
    }
  }

  .logo {
    position: absolute;
    left: 40px;
    top: 26px
  }
}

